! URxvt appearance & clipboard bindings
URxvt.font: xft:FiraCode:size=13
URxvt.scrollBar: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Transparency
URxvt.transparent: true
URxvt.shading: 30

urxvt*termName: rxvt

! =================================
! ===== Tree bark theme start =====
! =================================

! urxvt*matcher.button: 1
! urxvt*allow_bold: true
! Xft*dpi: 96
! Xft*antialias: true
! Xft*hinting: full
! URxvt*geometry: 85x20
! URxvt*fading: 0
! URxvt*tintColor: #ffffff
! URxvt*shading: 0
! URxvt*inheritPixmap: False
! !black
! URxvt.color0: #000000
! URxvt.color8: #2B2B2B
! !red
! URxvt.color1: #a28d73
! URxvt.color9: #a28d73
! !green
! URxvt.color2: #4A663C
! URxvt.color10: #7B996C
! !yellow
! URxvt.color3: #7C5618
! URxvt.color11: #B38849
! !blue
! URxvt.color4: #566060
! URxvt.color12: #889393
! !magenta
! URxvt.color5: #8E4948
! URxvt.color13: #C67C78
! !cyan
! URxvt.color6: #6D5B42
! URxvt.color14: #A28D73
! !white
! URxvt.color7: #7B996C
! URxvt.color15: #7B996C
! urxvt.background: #111111
! urxvt.foreground: 15

! ===============================
! ===== Tree bark Theme end =====
! ===============================

! ==================================
! ===== Blue Purple Calm Start =====
! ==================================

! urxvt*matcher.button: 1
! urxvt.boldFont:
! Xft*dpi: 96
! Xft*antialias: true
! Xft*hinting: full
! URxvt*geometry: 85x20
! *internalBorder: 23
! URxvt*fading: 0
! URxvt*tintColor: #ffffff
! URxvt*shading: 0
! URxvt*inheritPixmap: False
! URxvt*background: #1b1b1b
! URxvt*foreground: #efefef
! ! --- standard colors ---
! ! black
! URxvt*color0: #7f94a0
! ! bright_black
! URxvt*color8: #A56D61
! ! red
! URxvt*color1: #8687b3
! ! bright_red
! URxvt*color9: #9E9FBE
! ! green
! URxvt*color2: #A5BE9E
! ! bright_green
! URxvt*color10: #a6ad8d
! ! yellow
! URxvt*color3: #C19FBA
! ! bright_yellow
! URxvt*color11: #afad84
! ! blue
! URxvt*color4: #7f6270
! ! bright_blue
! URxvt*color12: #af9c96
! ! magenta
! URxvt*color5: #efefef
! ! bright_magenta
! URxvt*color13: #b89c8d
! ! cyan
! URxvt*color6: #6c7570
! ! bright_cyan
! URxvt*color14: #a6a496
! ! white
! URxvt*color7: #ada38b
! ! bright_white
! URxvt*color15: #efefef

! =================================
! ===== Blue Purple Calm End ======
! =================================

! =======================
! ===== Julia Start =====
! =======================

! URxvt*background: [90]#151515
! URxvt*foreground: #c6a57b
! ! URxvt*background: #151515
! !black
! URxvt*color0: #101010
! URxvt*color8: #404040
! !red
! URxvt*color1: #953331
! URxvt*color9: #8D4A48
! !green
! URxvt*color2: #546A29
! URxvt*color10: #7E9960
! !yellow
! URxvt*color3: #909737
! URxvt*color11: #9CA554
! !blue
! URxvt*color4: #385E6B
! URxvt*color12: #5C737C
! !magenta
! URxvt*color5: #7F355E
! URxvt*color13: #95618B
! !cyan
! URxvt*color6: #34676F
! URxvt*color14: #5D858A
! !white
! URxvt*color7: #dddddd
! URxvt*color15: #dddddd

! =====================
! ===== Julia End =====
! =====================


! ==============================
! ===== Simple Tango Start =====
! ==============================

! urxvt*foreground: white
! urxvt*background: black
! *color0:  #2E3436
! *color1:  #a40000
! *color2:  #4E9A06
! *color3:  #C4A000
! *color4:  #3465A4
! *color5:  #75507B
! *color6:  #ce5c00
! *color7:  #babdb9
! *color8:  #555753
! *color9:  #EF2929
! *color10: #8AE234
! *color11: #FCE94F
! *color12: #729FCF
! *color13: #AD7FA8
! *color14: #fcaf3e
! *color15: #EEEEEC

! ============================
! ===== Simple Tango End =====
! ============================

! ============================
! ===== Blue Space Start =====
! ============================

! urxvt*boldFont:             
! urxvt*background:           #000000
! urxvt*foreground:           #666699
! urxvt*cursorColor:          #6699CC
! urxvt*colorBD:              #CCCCFF
! !Visiblue
! urxvt*color0:               #333366
! urxvt*color8:               #333399
! urxvt*color1:               #6666CC
! urxvt*color9:               #9999FF
! urxvt*color2:               #0099CC
! urxvt*color10:              #00CCFF
! urxvt*color3:               #3366CC
! urxvt*color11:              #6699FF
! urxvt*color4:               #006699
! urxvt*color12:              #0099CC
! urxvt*color5:               #0066FF
! urxvt*color13:              #0099FF
! urxvt*color6:               #669999
! urxvt*color14:              #66CCCC
! urxvt*color7:               #99CCCC
! urxvt*color15:              #CCFFFF

! ============================
! ===== Blue Space Start =====
! ============================

! ========================
! ===== Frappe Start =====
! ========================

! ! special
! URxvt.background: #303446
! URxvt.foreground: #C6D0F5
! URxvt.cursorColor: #F2D5CF
! ! black
! URxvt.color0: #51576D
! URxvt.color8: #626880
! ! red
! URxvt.color1: #E78284
! URxvt.color9: #E78284
! ! green
! URxvt.color2: #A6D189
! URxvt.color10: #A6D189
! ! yellow
! URxvt.color3: #E5C890
! URxvt.color11: #E5C890
! ! blue
! URxvt.color4: #8CAAEE
! URxvt.color12: #8CAAEE
! ! magenta
! URxvt.color5: #F4B8E4
! URxvt.color13: #F4B8E4
! ! cyan
! URxvt.color6: #81C8BE
! URxvt.color14: #81C8BE
! ! white
! URxvt.color7: #B5BFE2
! URxvt.color15: #A5ADCE
! !! URxvt Appearance
! URxvt.letterSpace: 0
! URxvt.lineSpace: 0
! URxvt.geometry: 92x24
! URxvt.internalBorder: 24
! URxvt.cursorBlink: true
! URxvt.cursorUnderline: false
! URxvt.saveline: 2048
! URxvt.scrollBar_right: false
! URxvt.urgentOnBell: true
! URxvt.depth: 24
! URxvt.iso14755: false

! ======================
! ===== Frappe End =====
! ======================

! ========================
! ===== Custom Start =====
! ========================

urxvt*foreground: white
urxvt*background: black
*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
! WiFi background
*color4:  #171A30
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #33D63E
*color11: #FCE94F
*color12: #3A74f2
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

! ======================
! ===== Custom End =====
! ======================

