! URxvt appearance & clipboard bindings
URxvt.font: xft:FiraCode:size=13
URxvt.scrollBar: false
URxvt.perl-ext-common: default,clipboard,keyboard-select
URxvt.keyboard-select.clipboard: 1
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.M-v: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

! Transparency
URxvt.transparent: true
URxvt.shading: 30

urxvt*termName: rxvt

urxvt*foreground: white
urxvt*background: black
*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
! WiFi background
*color4:  #171A30
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #33D63E
*color11: #FCE94F
*color12: #3A74f2
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

